.top-element {
    margin-top: 60px;
}

#home-accordion p {
    color: white;
}

#right-side-bar {
    background: #e5e5e5;
    word-wrap: break-word;
}

#dp-name, #subject-actions-title {
    text-transform: lowercase;
}

#subject-verb-histogram {
    min-width: 200px;
    max-width: 800px;
    height: 200px;
}

.shift-left {
    margin-left: -20px;
}

label {
    word-wrap: normal;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  fill: #000;
  stroke: #fff;
  stroke-width: 1.5px;
}


